#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
#-#-#-#   General information   #-#-#-#
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

# Files compared
File A: <%= @options[:file_path_a] %>
File B: <%= @options[:file_path_b] %>

# Name of sheet
Sheet: <%= @options[:sheet_name] %>

This file was created on: <%= Time.now.strftime("%d/%m/%Y %H:%M") %>

#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#
#-#-#-#   Table of differences  #-#-#-#
#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#-#

Total cells: <%= @amount_of_total_cells %>
Differing cells: <%= @differing_cells.size() %>
Differ percentage: <%= '%.2f' % (@differing_cells.size().to_f / @amount_of_total_cells * 100) %>%

(Differences in colour of the text or background are also accounted for)

<%- @differing_cells.each do |cell| -%>
Row: <%= cell[:cell_a].row + 1 %> | Col: <%= cell[:cell_a].column + 1 %> 
Value File A: <%= cell[:cell_a].value %> | Value File B: <%= cell[:cell_b].value %>
<%- if cell[:cell_a].value == cell[:cell_b].value -%>
As the values are the same there might be a difference in colour or another parameter
<%- end -%>
---------------------------------------
<%- end -%>